.advertisement{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.advertisement__item{
    flex: 1;
    position: relative;
    overflow: hidden;
}
.advertisement__item__img{
    height: 100%;
    width: 100%;
}
.advertisement__item__img img {
    width: 100%;
    object-fit: cover;
    z-index: 1;
    transition: transform 1s;
    margin: 0;
    transform: scale(1.1);
}
.item__img__title{
    position: absolute;
    color: #fff;
    font-size: 2rem;
    z-index: 2;
    bottom: 30px;
    width: 100%;
    text-align: center;
    transition: opacity 0.2s;
}
.advertisement__item__introduce{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:#000;
    opacity: 0.8;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    transform: translateY(100%);
    transition: all 1s;
    z-index: 3;
}
.item__introduce__title{
    opacity: 1.2;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;  
}
.advertisement__item:hover .advertisement__item__introduce{
    transform: translateY(0);

}
.advertisement__item:hover .advertisement__item__img img{
    transform: scale(1.3);
}
.advertisement__item:hover .item__img__title{
    opacity: 0;
}
@media(max-width:63.9375em){
    /* mobile & tablet width < 1024px */
    .item__introduce__title{
        font-size: 15px;
        width: 100%;
    }
    .item__img__title{
        font-size: 20px;
    }
    
}
    /* mobile width < 740px */
@media(max-width:46.1875em){
    .advertisement{
        flex-wrap: wrap;
        padding-top: 0;
    }
    .advertisement__item{
        flex-basis: 50%;
    }
    .advertisement__item__introduce{
        padding: 4px;
    }
    .item__introduce__title{
        font-size: 15px;
        width: 100%;
    }
    .item__img__title{
        font-size: 20px;
    }
    
}
    /* tablet width > 740px and < 1024px */
@media(min-width:46.25em) and (max-width:63.9375em) {
    
}

