#notification{
    position: absolute;
    margin-top: 73px;
    width: fit-content;
    top: 0;
    right: 0.5%;
    opacity: 0.98;
    z-index: 9;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px solid var( --border-color);
    border-top: none;
    background: var(--submenu-color);
    padding: 30px 10px;
    display: flex;
    height: 600px;
    overflow-y: scroll;
    padding: 10px 5px;
    display: none;
}
#notification h2{
    color: var(--text-color);
    font-size: 25px;
    text-align: left;
    font-weight: bold;
}
#notification.active{
    display: flex;
}
#notification:first-child{
    transform: translateY(-50%);
}
.notification__new{
    height: fit-content;
}
.notification__new h1,.notification__older h1 {
    color: var(--text-color);
    font-size: 17px;
    padding: 10px 20px;
}
.notification__item{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 1rem;
}
.notification__item:hover{
    background-color: var(--border-color);
    border-radius: 15px;
}
.notification__img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification__img img{
    width: 50px;
    object-fit: cover;
}
.notification__detail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    line-height: 1rem;
    background-color: transparent;

}.notification__content{
    overflow: hidden;
    width: 300px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 34px;
    color: var(--text-color);
}
.notification__content p span{
    font-size: 16px;
    color: var(--text-color);
    width: fit-content;
    font-weight: bold;
    margin-right: 5px;
    height:fit-content;
}
#notification::-webkit-scrollbar{
    width: 5px;
}
#notification::-webkit-scrollbar-track{
    border-radius: 20px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
#notification::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #54554a;
}
@media(max-width:46.1875em){
    #notification{
        margin-top: 65px;
        height: 500px;
    }
    .notification__content{
        width: 200px;
        flex-shrink: 1;
    }
}