#Products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}
.product__container{
    background-color: var(--background-color);  
}
.select_items{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}
.select_items ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    color: var(--text-color);
    flex: 1; 
    padding: 20px; 
    background-color: transparent;
    gap: 1rem;
}
.select_items ul li{
    padding: 10px 20px;
    background-color: var(--border-color);
    color: var(--text-color);
    font-size: 15px;
    transition: transform 0.3s linear;
}
.select_items ul li:hover{
    transform: translateY(-5px);
    border-bottom: none;
    opacity: 0.8;
}
.select_items ul li.active{
    background-color:transparent;
    border: 1px solid var(--border-color);
    border-bottom: none;
    opacity: 0.8;
}
.select_items label{
    padding: 10px 20px;
    background: var(--orange);
    font-size: 15px;
}
select{
    background-color: var(--background-color);
    color: var(--text-color);
}
option{
    padding: 5px 10px;
}
option:hover{
    background-color: red;
}
#sort{
    padding: 10px 20px;
    font-size: 15px;
}
@media(max-width:63.9375em){
    /* mobile & tablet width < 1024px */
    #Products{
        margin-top: 40px;
        padding: 10px;
    }
    .product__item__image img{
        width: 80%;
        max-height: 180px;
    }
}
/* mobile width < 740px */
@media(max-width:46.1875em){
}
/* tablet width > 740px and < 1024px */
@media(min-width:46.25em) and (max-width:63.9375em) {

}
