#Products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}
.products__img {
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products__img img{
    width: 100%;
    object-fit: cover;
}
.product__container{
    background-color: var(--background-color);  
}
.select_items{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}
.select_items ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    color: var(--text-color);
    flex: 1; 
    background-color: transparent;
    gap: 1rem;
    flex-wrap: wrap;
}
.select_items ul li{
    padding: 10px 20px;
    background-color: var(--border-color);
    color: var(--text-color);
    font-size: 15px;
    transition: transform 0.3s linear;
    white-space: nowrap;
}
.select_items ul li:hover{
    transform: translateY(-5px);
    border-bottom: none;
    opacity: 0.8;
}
.select_items ul li.active{
    background-color:transparent;
    border: 1px solid var(--border-color);
    border-bottom: none;
    opacity: 0.8;
}
.select_soft{
    display: flex;
    gap: 1rem;
}
.select_soft label{
    padding: 10px 20px;
    background: var(--orange);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.select_soft select{
    background-color: var(--background-color);
    color: var(--text-color);
}
.select_soft option{
    padding: 5px 10px;
}
.select_soft option:hover{
    background-color: red;
}
#sort{
    padding: 10px 20px;
    font-size: 15px;
}
.offset__bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 20px;
}
.offset__cont{
    display: flex;
    gap: 1rem;
}
.offset__bar .btn{
    width: 50px;
}
@media(max-width:63.9375em){
    /* mobile & tablet width < 1024px */
    #Products{
        padding: 10px;
    }
    .product__item__image img{
        width: 80%;
        max-height: 180px;
    }
    
}
/* mobile width < 740px */
@media(max-width:46.1875em){
    .products__img {
        height: 250px;
    }
    .select_items{
        flex-direction: column;
        align-items: flex-start;
        padding: 10px ;
    }
    .select_items ul {
        padding: 10px 0;
    }
    .select_items ul li{
        font-size: 13px;
    }
    .select_items label{
        padding: 5px 10px;
        font-size: 13px;
    }
    .select_items select{
        font-size: 13px;
    }
    #sort{
        font-size: 13px;
        padding: 10px;
    }
    #sort option{
        font-size: 13px;
    }
}
/* tablet width > 740px and < 1024px */
@media(min-width:46.25em) and (max-width:63.9375em) {

}
