#Products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}
.product__container{
    background-color: var(--background-color);  
}
.product__item{
    background-color: var(--background-item-color);
    margin: 8px 0;
    padding: 10px;
}
.product__item__image{
    overflow: hidden;
    object-fit: cover;
    background-color: transparent;
    height: 100%;
    min-height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product__item__image img{
    width: 100%;
    transition: transform 0.5s;
    background-color: transparent;
    max-height: 220px;
    object-fit: cover;
}
.product__item__image img:hover{
    transform: scale(1.1);
}
.product__item__info{
    background-color: transparent;
}
.product__item_name{  
    overflow: hidden;
    line-height: 1rem;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    background-color: transparent;   
    color: var(--text-color);
    height: 35px;
}
.product__item_name a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 15px;
    background-color: transparent;
    height: 60px;
}
.product__item__price {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding-top: 5px;
}
.product__item__price h2{
    font-size: 15px;
    color: var(--orange);
    background-color: transparent;
   
}
.product__item__price span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
 
}
.product__item__price span i {
    color: var(--icon-color);
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

@media(max-width:63.9375em){
    /* mobile & tablet width < 1024px */
    #Products{
        margin-top: 40px;
        padding: 10px;
    }
    .product__item__image img{
        width: 80%;
        max-height: 180px;
    }
}
/* mobile width < 740px */
@media(max-width:46.1875em){
}
/* tablet width > 740px and < 1024px */
@media(min-width:46.25em) and (max-width:63.9375em) {

}
