.product__item{
    background-color: var(--background-item-color);
    margin: 8px 0;
    padding: 10px;
}
.product__item__image{
    overflow: hidden;
    object-fit: cover;
    background-color: transparent;
    height: 100%;
    min-height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product__item__image img{
    width: 100%;
    transition: transform 0.5s;
    background-color: transparent;
    max-height: 220px;
    object-fit: cover;
}
.product__item__image img:hover{
    transform: scale(1.1);
}
.product__item__info{
    background-color: transparent;
}
.product__item_name{  
    overflow: hidden;
    line-height: 1rem;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    background-color: transparent;   
    color: var(--text-color);
    height: 35px;
}
.product__item_name a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 15px;
    background-color: transparent;
    height: 60px;
}
.product__item__price {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding-top: 5px;
}
.product__item__price h2{
    font-size: 15px;
    color: var(--orange);
    background-color: transparent;
   
}
.product__item__price span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
 
}
.product__item__price span i {
    color: var(--icon-color);
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.product__item__action .favourite__action i.active{
    color: brown;
}
.product__item__action .favourite__action i:hover{
    color: brown;
}
.product__item__action .cart__action i.active{
    color: green;
}
.product__item__action .cart__action i:hover{
    color: green;
}
.product__item__action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.favourite__action, .cart__action{
    position: relative;
}
.title{
    position: absolute;
    top: -130%;
    right: -28px;
    display: none;
    opacity: 0;
}
.active{
    display: flex;
    opacity: 1;
}
.title span{
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    transition: all 0.3s linear;
    background-color: var(--text-color);
    color: var(--background-color);
    z-index: 9;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.title span::before{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: var(--text-color);
    z-index: 8;
    bottom: -5px;
    right: 36.5px;
    transform: rotate(45deg);
}
@media(max-width:46.1875em){
    .product__item__price h2{
        font-size: 13px;
    }
}
