.product__item__price span i:nth-child(1).favourite{
    color: brown;
}
.product__item__price span i:nth-child(1):hover{
    color: brown;
}
.product__item__price span i:nth-child(2).addtocart{
    color: green;
}
.product__item__price span i:nth-child(2):hover{
    color: green;
}
