    /* mobile width < 740px */
    @media(max-width:46.1875em){
        .mobile__nav{
            width: 35px;
            height: 35px;
            justify-content: flex-start;
            align-items: center;
            flex: 1;
            position: relative;
        }
        .mobile__nav i{
            color: var(--text-color);
            font-size: 20px;
        }
        .hide_on_mobile{
            display: none;
        }
        .show_on_mobile{
            display: flex;
        }
        .mobile_side_bar{
            position: fixed;
            background-color: var(--background-item-color);
            top: 0;
            left: 0;
            height: fit-content;
            z-index: 12;
            opacity: 0;
            transform: translateX(-100%);
            transition: transform linear 0.3s;
            padding-bottom: 20px;
        }
        .nav_mobile_logo{
            width: 200px;
            filter: var(--filter-logo);
            padding: 10px;
        }
        .mobile_side_bar ul{
            overflow: hidden;
            list-style: none;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }
        .mobile_side_bar ul li{
            height: fit-content;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        .mobile_side_bar ul a{
            text-decoration: none;
            color: var(--text-color);
            font-size: 20px;    
        }
        .mobile_side_bar ul li:hover{
            background-color: var(--border-color)
        }
        .close_btn{
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .nav__input {
            display: none;
        }
        .nav__input:checked~.overlay{
            display: block;
        }
        .nav__input:checked~.mobile_side_bar{
           transform: translateX(0);
           opacity: 1;
        }
        
    }