.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    background-color: var(--background-item-color);
    box-shadow: 0 0 10px rgba(0,0, 0,0.2);
}
.hide_on_pc{
    display: none;
}
.header__top__navbar{
    flex: 4;
    display: flex; 
}
.navbar_container{
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.navbar_container li{
    width: 100%;
    height: 40px;  
}
.navbar_container li a{
    width: 80%;
    height: 100%;
    color: var( --text-color);
    opacity: 0.6;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab.active{
    opacity: 1;
    background-color: var(--border-color);
    border-bottom: 4px solid var(--orange);
}
.navbar_container li a:hover {
    opacity: 1;
    background-color: var(--border-color);
}
.header__top__logo{
    flex: 2;
    
}
.header__top__logo a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__top__logo a img{
    width: 200px;
    filter: var(--filter-logo);
}
.header__top__user{
    flex: 1;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}
.user{
    object-fit: cover;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.user img{
    width: 45px;
    height: 45px;
    transform: scale(1.1);
    outline: none;
}
.notification{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var( --background-icon-color);
    border-radius: 50%;
    position: relative;
    z-index: 10;
}
.notification span{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    color: #fff;
    z-index: 11;
    font-size: 13px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5%;
    right: -5%;
    line-height: 100%;
}
.notification i{
    color: var(--text-color);
    font-size: 22px;
    
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 11;
    display: none;
    animation: fatein linear 0.2s;
}
@media(max-width:63.9375em){
    /* mobile & tablet width < 1024px */
    .header__top__navbar a{
        font-size: 13px;
    }
}
    /* mobile width < 740px */
@media(max-width:46.1875em){
    .header__top{
        justify-content: center;
        padding: 5px 10px;
    }
    .header__top__navbar a{
        font-size: 7px;
        width: fit-content;
    }
    .header__top__logo a img{
        width: 130px;
    }
    .header__top__logo{
        flex: 3;
    }
    .header__top__user{
        flex: 1;
        margin-right:5px ;
    }
    .user {
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
    .user img{
        margin: 0;
        width: 30px;
        height: 30px;
    }
    .notification {
        width: 30px;
        height: 30px;
    }
    .notification i{
        font-size: 13px;
    }
    .notification span{
        width: 15px;
        height: 15px;
        font-size: 12px;
    }
    .header__top__navbar{
        flex: 8;
        padding-left: 10px;     
    }
    .mobile__nav{
        width: 35px;
        height: 35px;
        justify-content: flex-start;
        align-items: center;
        flex: 1;
        position: relative;
    }
    .mobile__nav i{
        color: var(--text-color);
        font-size: 20px;
    }
    .hide_on_mobile{
        display: none;
    }
    .show_on_mobile{
        display: flex;
    }
    .mobile_side_bar{
        position: fixed;
        background-color: var(--background-item-color);
        top: 0;
        left: 0;
        width: 60%;
        height: fit-content;
        z-index: 12;
        opacity: 0;
        transform: translateX(-100%);
        transition: transform linear 0.3s;
        padding-bottom: 20px;
    }
    .nav_mobile_logo{
        width: 200px;
        filter: var(--filter-logo);
        padding: 10px;
    }
    .mobile_side_bar ul{
        list-style: none;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    .mobile_side_bar ul li{
        height: fit-content;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .mobile_side_bar ul a{
        text-decoration: none;
        color: var(--text-color);
        font-size: 20px;    
    }
    .mobile_side_bar ul li:hover{
        background-color: var(--border-color)
    }
    .close_btn{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .nav__input {
        display: none;
    }
    .nav__input:checked~.overlay{
        display: block;
    }
    .nav__input:checked~.mobile_side_bar{
       transform: translateX(0);
       opacity: 1;
    }
    
}
    /* tablet width > 740px and < 1024px */
@media(min-width:46.25em) and (max-width:63.9375em) {
    .header__top__navbar a{
        font-size: 10px;
    }
}