.overview ,.overview__container,.overview__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    width: 100%;
}
.overview__container{
    padding-bottom: 50px;
}
.overview__header{
    background-image: linear-gradient(to bottom, var(--overview-color), var(--background-color));  
    padding-top: 50px;
}
.overview__header__title{
    text-align: center;
    color: var(--orange);
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.overview__header__content {
    padding: 20px;
    text-align: center;
    color: var(--text-color);
    font-size: 17px;
    font-weight: 400;
}
.overview__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    width: 100%;
}
.overview__item__img{
    overflow: hidden;
    object-fit: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.overview__item__img img{
    width: 80%;
    transition:  transform 0.5s;
}
.overview__item__name{
    text-align: center;
    color: var(--text-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 80%;
}
.overview__item__img img:hover{
    transform: scale(1.1);
}
@media(max-width:63.9375em){
    /* mobile & tablet width < 1024px */
    .overview__header__title{
        font-size: 20px;
    }
    .overview__header__content{
        font-size: 13px;
        padding-top: 10px;
    }
    .overview__item__name{
        font-size: 15px;
    }
    
}
/* mobile width < 740px */
@media(max-width:46.1875em){
    .overview__header{
        padding-top: 20px;
    }
    .overview__header__title{
        font-size: 15px;
    }
    .overview__header__content{
        font-size: 12px;
    }
    .overview__item__name{
        font-size: 13px;
    }
    .overview__item{
        flex-wrap: wrap;
    }
    .overview__item__img{
        flex-basis: 50%;
        margin-bottom: 48px;       
    }
    .overview__item__img img{
        width: 100%;
    }
}
    /* tablet width > 740px and < 1024px */
@media(min-width:46.25em) and (max-width:63.9375em) {
    
}


