.overview , .overview__container,.overview__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    width: 100%;
}
.overview__container{
    padding-bottom: 50px;
}
.overview__header{
    background-image: linear-gradient(to bottom, var(--overview-color), var(--background-color));  
    padding-top: 50px;
}
.overview__header__title{
    text-align: center;
    color: var(--orange);
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.overview__header__content {
    text-align: center;
    color: var(--text-color);
    font-size: 17px;
    font-weight: 400;
}
.overview__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}
.overview__item__img{
    width: 100%;
    overflow: hidden;
    object-fit: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.overview__item__img img{
    width: 100%;
    transition:  transform 0.5s;
}
.overview__item__name{
    text-align: center;
    color: var(--text-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 80%;
}
.overview__item__img img:hover{
    transform: scale(1.1);
}

