
:root{
  --background-item-color :#f9f9f9;
  --background-color :#fff;
  --text-color: rgb(20, 19, 19);
  --icon-color:rgb(182, 106, 233);
  --submenu-color:#f9f9f9;
  --border-color: #ccc;
  --overview-color: #ccc;
  --filter-logo: invert(0%) sepia(100%) saturate(7437%) hue-rotate(331deg) brightness(84%) contrast(113%);
  --footer-color: #ccc;
  --footer-logo-color:invert(16%) sepia(16%) saturate(27%) hue-rotate(92deg) brightness(94%) contrast(88%);
  --filter-logo-hover:invert(0%) sepia(96%) saturate(7455%) hue-rotate(49deg) brightness(107%) contrast(96%);
  --background-icon-color: #ccc;
  --orange: #f48915;
  --planCard: linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);
}

.dark_theme{
  --background-item-color :#212121;
  --background-color: rgb(20, 19, 19);
  --text-color: #f9f9f9;
  --icon-color:#ccc;
  --border-color: rgb(58 59 60);
  --submenu-color:#212121;
  --overview-color: rgb(65, 64, 64);
  --filter-logo: invert(100%) sepia(100%) saturate(0%) hue-rotate(213deg) brightness(105%) contrast(101%);
  --footer-color: rgb(45, 44, 44);
  --footer-logo-color:invert(83%) sepia(9%) saturate(13%) hue-rotate(102deg) brightness(100%) contrast(89%);
  --filter-logo-hover: invert(100%) sepia(33%) saturate(3653%) hue-rotate(173deg) brightness(123%) contrast(105%);
  --background-icon-color: #3a3b3c;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}
.btn {
  width: 130px;
  height: 40px;
  background-color: transparent;
  color: #fff;
  border: 3px solid #fff;
  font-size: 17px;
  font-weight: bold;
  transition: all linear 0.2s;
}
.btn:hover{
  background-color: #fff;
  color: #000;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  border-radius: 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: #9bae07;
}
img,i {
  cursor: pointer;
}
a {
  cursor: pointer;
  text-decoration: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#cart_btn{
  position: fixed;
  right: 1.5%;
  bottom: 30px;
  background: var(--orange);
  width: 50px;
  height: 50px;
  z-index: 8;
  border-radius: 50%;
}
.cart__btn__item{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__btn__item span {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  color: #fff;
  z-index: 11;
  font-size: 13px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5%;
  right: -5%;
  line-height: 100%;
}
.cart__btn__title{
  position: absolute;
  top: 20%;
  right: 67px;
}
.cart__btn__item .cart__btn__title span{
  position: relative;
  width: 120px;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  display: none;
  opacity: 0;
  transition: all 0.3s linear;
  background-color: var(--text-color);
  color: var(--background-color);
  z-index: 9;
}
.cart__btn__item .cart__btn__title span::before{
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: var(--text-color);
  z-index: 8;
  right: -5px;
  transform: rotate(45deg);
}
#cart_btn:hover .cart__btn__item .cart__btn__title span{
  display: flex;
  opacity: 1;
}

#cart_btn i {
  font-size: 20px;
  color: #fff;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media(max-width:63.9375em){
  /* mobile & tablet width < 1024px */
  .hide_on_tablet{
    display: none;
  }
}
/* mobile width < 740px */
@media(max-width:46.1875em){
  .btn{
    width: 70px;
    height: 30px;
    font-size: 13px;
  }
  .container{
    margin-top: 65px;
  }
  .hide_on_mobile{
    display: none;
  }
}
/* tablet width > 740px and < 1024px */
@media(min-width:46.25em) and (max-width:63.9375em) {

}