.bottom__bar{
    height: 210px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    background: #fff;
    z-index: 8;
    overflow: hidden;
    height: fit-content;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.5s linear;
}
.null__item{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}
.null__item h1{
    white-space: nowrap;
    font-size: 25px;
    color: blueviolet;
}
.bottom__bar.cart__bar{
    height: 270px;
}
.totalprice{
    display: flex;
    padding: 10px 60px;
}
.totalprice__content{
    display: flex;
    flex-direction: row;
}
.totalprice .totalprice__content span, .totalprice .totalprice__content p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.totalprice span{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--submenu-color);
}
.totalprice p{
    font-size: 20px;
    color: var(--submenu-color);
    margin: 0 30px;
}
.payment__btn{
    background-color: var(--orange);
}
.payment__btn:hover{
    opacity: 0.8;
    background-color: var(--orange);
}
.bottom__bar__header{
    background-color: rgb(204 164 113);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 60px;
}
.bottom__bar__header h1{
    font-size: 20px;
}
.bottom__bar__header i {
    font-size: 23px;
}
.bottom__bar__item{
    display: flex;
    max-height:100%;
    overflow-x: scroll;
}
.bottom__bar__item::-webkit-scrollbar{
    height: 10px;
}
.bottom__bar__item::-webkit-scrollbar-track{
    border-radius: 20px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
.bottom__bar__item::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #b85ff7;
}
.item{
    border: 1px solid rgb(204 164 113);
    min-width: 400px;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 130px;
    overflow: hidden;
    margin: 10px;
}
.item__img{
    flex: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item__img img{
    width: 100px;
}
.item__info{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 1.5rem;
}
.item__info__name{
    overflow: hidden;
    line-height: 1rem;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    background-color: transparent;   
    color: var(--submenu-color);
    height: 35px;
}
.item__info__name a{
    color: var(--submenu-color);
    text-decoration: none;
    font-size: 15px;
    background-color: transparent;
    height: 60px;
}
.item__info__price{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.item__info__price span{
    color: red;
    font-size: 15px;
    margin-right: 30px;
}
.item__info__price span i{
    color: var(--submenu-color);
    font-size: 15px;
}
.item__btn{
    position: absolute;
    top: 5px;
    right: 5px;  
}
.item__btn i{
    color: var(--submenu-color);
    font-size: 15px;
}
.show{
    opacity: 1;
    transform: translateY(0);
}
.null__item{
    width: 400px;
}
.item__count{
    background-color: #fde4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    border-radius: 5px;
}
.item__count span{
    color: var(--submenu-color);
    margin: 0 15px;
    cursor: pointer;
}
/* @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateY(100%);
      display: none;
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  } */
@media(max-width:63.9375em){
/* mobile & tablet width < 1024px */
}
/* mobile width < 740px */
@media(max-width:46.1875em){
    .item{
        max-width: 250px;
        min-width: 250px;
    }
    .bottom__bar__item{
        padding: 5px;
    }
    .bottom__bar__header{
        padding: 10px 20px;
    }
    .bottom__bar__header h1{
        font-size: 15px;
    }
    .bottom__bar__header i{
        font-size: 15px;
    }
    .item__img img{
        width: 100px;
    }
    .item__info{
        gap: 0;
        padding: 0 5px;
    }
    .item__info{
        width: 170px;
    }
    .totalprice{
        padding: 10px;
        gap: 2rem;
    }
    .totalprice .totalprice__content span{
        font-size: 17px;
    }
    .totalprice .totalprice__content p{
        font-size: 15px;
    }
    .payment__btn{
        white-space: nowrap;
    }
    .bottom__bar__item::-webkit-scrollbar{
        height: 5px;
    }
    .totalprice__content{
        flex-direction: column;
    }

}
/* tablet width > 740px and < 1024px */
@media(min-width:46.25em) and (max-width:63.9375em) {

}